<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="IRSA_Framework_Security" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="IRSA_Framework_Security" type="Sql Server" connectionString="SecurityDatabase Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="SecurityDatabase Connection String">
          <parameters>
            <parameter name="database" value="IRSA_Framework_Security" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="seguridad2008" isSensitive="true" />
            <parameter name="server" value="srv-rst02-adm\sec" isSensitive="false" />
            <parameter name="user" value="frmseguridad" isSensitive="false" />
          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>