<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="IRSA_Multipay" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="IRSA_Framework_Security" type="Sql Server" connectionString="cs_IRSA_Framework_Security" />
        <instance name="IRSA_Multipay" type="Sql Server" connectionString="cs_IRSA_Multipay" />
      </instances>
      <connectionStrings>
        <connectionString name="cs_IRSA_Framework_Security">
          <parameters>
            <parameter name="database" value="IRSA_Framework_Security" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="sqladmin" isSensitive="true" />
            <parameter name="server" value="srv-ms6-adm\MSSQL2005" isSensitive="false" />
            <parameter name="user" value="UsrAppMultipay" isSensitive="false" />
          </parameters>
        </connectionString>
        <connectionString name="cs_IRSA_Multipay">
          <parameters>
	<!--
            <parameter name="database" value="IRSA_Multipay" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="sqladmin" isSensitive="true" />
            <parameter name="server" value="srv-ms6-adm\MSSQL2005" isSensitive="false" />
            <parameter name="user" value="UsrAppMultipay" isSensitive="false" />
-->
            <parameter name="database" value="IRSA_Multipay_Visa" isSensitive="false" />
            <parameter name="Integrated Security" value="false" isSensitive="false" />
            <parameter name="password" value="sqladmin" isSensitive="true" />
            <parameter name="server" value="SRV-RST02-ADM" isSensitive="false" />
            <parameter name="user" value="sa" isSensitive="false" />

          </parameters>
        </connectionString>
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>